#root {
  max-width: 1280px;
  padding: 2rem;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.list {

}

.list ul {
  margin: 0;
}

.list-item {
  display: block;
  min-height: 40px;
  border: white 1px solid;
  padding: 2px;
}

.list-item:nth-child(n + 2) {
  border-top: 0px;
}

.list-item:hover {
  background-color: gray;
  cursor: pointer;
}

.list-item-selected {
  background-color: #535bf2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.container div {
  max-width: 240px;
  text-wrap: normal;
}

.title {
  font-weight: bold;
}

.photo {
  max-width: 240px;
  max-height: 240px;
}